

#contact {
    max-width: 1440px;
    padding: 172px 205px 90px 190px;
    margin: auto;
    position: relative;
    margin-top: 20px;
}
.contact__title{
  font-size: 45px;
  line-height: 2;
}
.contact__planes{
    width: auto;
    position: absolute;
    bottom: 80px;
    right: 0;
    z-index: -1;
}
.contact__text {
    margin-bottom: 48px;
}

.contact__buttons{
    flex-direction: row;
}
.contact__button--facebook {
    background: #1e88e5;
}
.contact__button {
    width: auto;
    padding: 12px 24px;
    margin-right: 16px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 16px;
}
.contact__button--mail {
    background: #30cec2;
    color: black;
}
.button, .contact__button, .contact__button--mail {
    transition: background-color .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out,background-color .2s ease-in-out;
    transition: box-shadow .2s ease-in-out,background-color .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
}
.contact__button-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}


@media (max-width: 764px){
#contact{
    max-width: 1440px;
    padding: 60px 23px 270px 23px;
    margin: auto;
    position: relative;
    margin-top: 100px;
}
.contact__planes {
    width: 400px;
    position: absolute;
    bottom: 80px;
    right: 0;
    z-index: -1;
}
}