
footer {
  padding: 0 16px 16px;
  max-width: 1440px;
  margin: auto;
}

.footer__container {
  padding: 59px 68px;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  background: hsla(0,0%,100%,.03);
}

.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__social a {
  display: inline-flex;
  color:rgb(0, 0, 238)
}
.footer__logo{
  padding-right: 20px;
}
.footer__icon {
    margin-right: 28px;
    filter: brightness(0) invert(1);
}

@media (max-width: 764px){
.footer__container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 24px;
    border-radius: 20px;
    background: hsla(0,0%,100%,.03);
}
.footer__content{
  flex-direction:column;
  padding:auto;
}

.footer__social{
    align-items: center;
    padding-top: 26px;
}
.footer__social a{
  padding-right: 15px;
}
.footer__logo {
    width: 90px;
    height: auto;
}
.footer__icon{
    padding-right: 5px;
    margin:0;
    filter: brightness(0) invert(1);
}
}