@import url(https://db.onlinewebfonts.com/c/452ec27decf4369db2b93619854b5638?family=FuseV.2Display-Regular);

.schedule {
  font-family: "FuseV.2Display-Regular";
  margin: 0 auto;
  max-width: 1030px;
}

section > h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  color: #fff;
  font-weight: 800;
  line-height: 48px;
  font-size: 40px;
  text-align: center;
}

.schedule-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-day-button {
  width: 88px;
  height: 112px;
  background-color: #0a181b;
  color: #fff;
  border: 2px solid #fff;
  font-size: 32px;
  line-height: 38px;
  border-radius: 15px;
  margin: 0 8px 10px 8px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.schedule-day-button p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 8px 16px;
  font-weight: 300;
  margin: 0 4px;
}

.schedule-day-button:hover {
  border: 2px solid var(--cyan);
}

.schedule-type {
  display: flex;
  width: 100%;
  color: #1a3c44;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  justify-content: center;
  margin: 48px 0 40px 0;
  padding: 0 10%;
}

.schedule-type__button {
  white-space: nowrap;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 8px 16px;
  border: 2px solid #fff;
  border-radius: 24px;
  font-weight: 300;
  transition:
    color 0.2s ease-in-out,
    border 0.2s ease-in-out;
  margin: 0 4px;
}

.schedule-type__button:hover {
  border: 2px solid var(--cyan);
}

.active-button {
  border: 2px solid var(--cyan);
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.event-item,
.event-item--break {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.event-item {
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.05);
  border-radius: 20px;
  padding: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.schedule-container .time {
  padding-top: 4px;
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.8);
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  margin-right: 12px;
}

.schedule-container .content {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  row-gap: 15px;
}

.header {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.header__text {
  background-color: var(--cyan);
  color: black;
  width: fit-content;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  color: #0a181b;
  background-color: #30cec2;
  cursor: auto;
  z-index: 1;
  border-radius: 6px;
}

.event-title {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.button__expand {
  background: none;
  border: none;
  cursor: pointer;
}

.schedule-container .lecturers {
  width: 100%;
  font-size: 18px;
  color: hsla(0, 0%, 100%, 0.8);
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.user-container {
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.event-item,
.event-item--break {
  opacity: 0;
  transform: translateY(200px);
  animation: slideUp ease-in-out forwards;
  animation-timeline: view();
  animation-range: 100px 300px;
}


@keyframes slideUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}