
.container {
    max-width: 1120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.support-us {
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 80px;
    font-weight: 1500;
    margin: 100px auto 56px auto;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}


.general-gold-wrapper{
    width: 100%;
}
.general-gold {
    display: flex;
    justify-content: flex-start;
}

.general-gold:last-of-type {
    margin-bottom: 0;
}
.general-gold-main-link{
    width: 100%;
}

.general-gold-wrapper:nth-of-type(2n) 
.general-gold figcaption, 
.general-gold figcaption{
    width: 100%;
}

.general-gold figcaption {
    margin-left: 61px;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    line-height: 24px;
}
.gold-sponsor-image {
    height: unset;
    width: 610px;
    margin: 0 auto;
    display: block;
    border-radius: 30px;
}

.sponsor-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sponsor-title__category{
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 18px;
    color: #0a181b;
    margin-bottom: 16px;
    background: #30cec2;
    padding: 7px 16px;
    border-radius: 8px;
    margin-top: 25px;
}
.sponsor-title__name {
    display: block;
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    line-height: 38px;
    font-weight: 800;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.sponsor-description{
    color: hsla(0,0%,100%,.8);
    font-family: Fuse V\.2 Display,Arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 16px;
}

.general-gold-wrapper:nth-of-type(2n) .general-gold {
    flex-direction: row-reverse;
}
.general-gold-wrapper:nth-of-type(2n) 
.general-gold figcaption {
    margin-right: 61px;
    margin-left: 0;
}

.general-gold-wrapper:not(:first-of-type) {
    margin-top: 160px;
}
.text--underline {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.text--underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 4px;
    background-color: #5ec4bc;
    border-radius: 2px;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
}

.text--underline:hover::after {
    transform: scaleX(1);
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

section>h2.silver-title {
    margin-top: 120px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #30cec2;
}

section.sponsor-category{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    
}

figure.other {
    width: 14%;
    height: 100px;
    margin-left: 7%;
    margin-bottom: 60px;
}
figure.other:nth-of-type(5n+1) {
    margin-left: 0;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.other{
  transform: scale(1.2);
  color: rgb(10, 24, 27);
    
}

.background-logo{
    width: 160px;
    height: 140px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
figure.other{
    width: 14%;
    height: 100px;
    margin-left: 7%;
    margin-right: 0;
    margin-bottom: 60px;
}
figure.other a{
    position: relative;
    width: 100%;
    height: 100%;
}
section.sponsor-category {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}


.background-logo{
    width: 160px;
    height: 140px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.other .zagrebačkabanka .background-logo
{
  width:300px;
}

figure.other:nth-child(2n) {
  transform: translateY(10px) scale(1.15);
}

figure.other:nth-child(3n) {
  transform: translateY(-8px) scale(1.05);
}

figure.other:nth-child(4n) {
  transform: translateY(15px) scale(1.2);
}
figure.other {
  opacity: 0;
  animation: fadeLoop 8s ease-in-out infinite;
}

@keyframes fadeLoop {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  20% {
    opacity: 1;
    transform: scale(1);
  }

  60% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

figure.other:nth-child(1) { animation-delay: 0s; }
figure.other:nth-child(4) { animation-delay: 1s; }
figure.other:nth-child(6) { animation-delay: 2s; }
figure.other:nth-child(3) { animation-delay: 2.3s; }
figure.other:nth-child(5) { animation-delay: 5s; }
figure.other:nth-child(2) { animation-delay: 3s; }



@media (max-width: 764px){
  .container{
  margin-left: 40px;
  margin-right: 40px;
}
.general-gold-wrapper 
.general-gold.general-gold {
    -ms-flex-direction: column;
    flex-direction: column;
}
.general-gold {
    display: flex;
    justify-content: flex-start;
    margin:0;
}
.gold-sponsor-image {
    height: unset;
    width: 100%;
    margin: 0 ;
    display: block;
    border-radius: 30px;
}
figure.general-gold figcaption{
    margin-left: 0;
}
figure.other:first-child {
    margin-top: 50px;
}
figure.other {
    width: 45%;
    margin-left: 5%;
    margin-bottom: 90px;
    transition: all .5s;
    width: 100%;
    margin-left: 0;
}
.background-logo {
    margin: auto;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gold-sponsor-image{
    width:350px;
  }
}
