* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan: #30cec2;
}
body {
  font-family: "Montserrat", Helvetica, sans-serif;
  background-color: rgb(10, 24, 27);
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  user-select: none;
}

.header__background-image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header__background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  height: 100vh;
  padding: 210px 100px 0 100px;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.nav {
  padding: 25px 0;
  padding-top: 16px;
}
.nav-content ul li {
  list-style: none;
  margin-left: 50px;
}
.nav-content ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  position: relative;
}
.nav-content ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--cyan);
  left: 0;
  bottom: -3px;
}
.nav-content ul li a:hover::after {
  width: 100%;
  transition: 0.3s;
}
.nav-content {
  max-width: 1440px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
}
.nav-content ul {
  display: flex;
}
.nav-content img {
  height: 35px;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  font-family: "Fuse V\.2 Display", Arial, sans-serif;
}
.header__content {
  color: #fff;
  font-family: "Fuse V.2 Display", Arial, sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 77px;
  -ms-flex-item-align: center;
}
.header__content ol {
  list-style: none;
  --height: 77px;
  height: var(--height);
  margin-left: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: fit-content;
}
.header__content ol li {
  display: inline-block;
  height: fit-content;
}

.header__content ol li span {
  -webkit-text-fill-color: transparent;
  background: var(--cyan);
  -webkit-background-clip: text;
  white-space: nowrap;
  border-right: 0.4rem solid var(--cyan);
  animation:
    cursor 0.8s step-end infinite,
    typewriter steps(6) 3s infinite alternate;
  display: inline-block;
  width: 0%;
}
header h1 {
  font-size: 64px;
}

#join-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: white;
}

#sign-button:hover {
  background-color: #35e5d8;
}

.header__bottom-wrapper {
  justify-self: flex-end;
  margin-bottom: 10rem;
}

h1 {
  font-size: 64px;
}

.header__links button {
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 12px 32px;
  border-radius: 15px;
  background-color: var(--cyan);
  color: #0a181b;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  outline: 0;
  text-transform: none;
  cursor: pointer;
}

.header__title {
  max-width: fit-content;
}
.header__title > span {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header__subtitle {
  margin-top: 16px;
  color: hsla(0, 0%, 100%, 0.8);
  font-family: Fuse V\.2 Display;
  font-size: 20px;
  line-height: 30px;
}
.header__links {
  margin-top: 16px;
}

.header__bottom-content {
  display: flex;
  align-items: center;
  height: 152px;
  border-radius: 27px;
  padding: 0px 24px;
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.05);
}
.header__bottom-content p {
  font-size: 16px;
  font-weight: 800;
  line-height: 26px;
}
.header__bottom-content span {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
}
.header-button__watch {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 15px;
  padding: 12px 32px;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}
.header__bottom-content h1 {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
}

.header__bottom-img img {
  object-fit: cover;
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typewriter {
  70%,
  100% {
    width: 100%;
  }
}

* .notice-board__title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 80px;
}

.notice-board__subtitle {
  font-size: 32px;
  color: rgb(48, 206, 194);
  font-weight: 700;
}

.job-list__container {
  display: block;
  font-family: "Fuse V.2 Display", Arial, sans-serif;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.job-slider {
  display: flex;
  gap: 32px;
  cursor: grab;
  height: auto;
  padding-top: 50px;
  padding-left: 60px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.job {
  flex: 0 0 384px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 38px;
  padding: 20px 40px 30px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.job:hover {
  transform: scale(1.05);
}

.job--gold {
  height: fit-content;
}

.background-logo {
  width: 168px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  margin-bottom: 32px;
}

.fortunaentertainmentgroup {
  background-image: url("https://2021.days.dump.hr/img/fortunaentertainmentgroup.2bbf732d.svg");
}

.ericssonnikolatesla {
  background-image: url("https://2021.days.dump.hr/img/ericssonnikolatesla.2fd8c0d2.svg");
}

.littlecode {
  background-image: url("https://2021.days.dump.hr/img/littlecode.858a8879.svg");
}

.infobip {
  background-image: url("https://2021.days.dump.hr/img/infobip.6b18c0a5.svg");
}

.undabot {
  background-image: url("https://2021.days.dump.hr/img/undabot.1b75377b.svg");
}

.hrcloud {
  background-image: url("https://2021.days.dump.hr/img/hrcloud.b452de8e.svg");
}

.netmedia {
  background-image: url("https://2021.days.dump.hr/img/netmedia.6af36d40.png");
}

.zagrebačkabanka {
  background-image: url("https://2021.days.dump.hr/img/zagreba%C4%8Dkabanka.616721c4.png");
}

.emovis {
  background-image: url("https://2021.days.dump.hr/img/emovis.7041c117.png");
}

.blank {
  background-image: url("https://2021.days.dump.hr/img/blank.807930cc.png");
}

.typeqast {
  background-image: url("https://2021.days.dump.hr/img/typeqast.71da5597.svg");
}

.five {
  background-image: url("https://2021.days.dump.hr/img/five.e95ed8f1.svg");
}

.job__name span {
  font-size: 24px;
  font-weight: 600;
}

.job__location {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px 0 24px;
  opacity: 0.8;
}

.job__location-icon {
  width: 16px;
  height: 16px;
}

.job__description {
  font-size: 17px;
  line-height: 1.2;
  opacity: 0.85;
  margin-bottom: 32px;
}

.button-primary {
  height: 42px;
  width: 154px;
  margin-top: 32px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(48, 206, 194);
  color: black;
  position: relative;
}
