* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  background-color: rgb(10, 24, 27);
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  user-select: none;
}


.notice-board__title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 80px;
}

.notice-board__subtitle {
  font-size: 32px;
  color: rgb(48, 206, 194);
  font-weight: 700;
}

.job-list__container {
  display: block;
  font-family: "Fuse V.2 Display", Arial, sans-serif;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.job-slider {
  display: flex;
  gap: 32px;
  cursor: grab;
  height: auto;
  padding-top: 50px;
  padding-left: 60px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.job {
  flex: 0 0 384px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 38px;
  padding: 20px 40px 30px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.job:hover {
  transform: scale(1.05);
}

.job--gold {
  height: fit-content;
}

.background-logo {
  width: 168px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  margin-bottom: 32px;
}

.fortunaentertainmentgroup {
  background-image: url("https://2021.days.dump.hr/img/fortunaentertainmentgroup.2bbf732d.svg");
}

.ericssonnikolatesla {
  background-image: url("https://2021.days.dump.hr/img/ericssonnikolatesla.2fd8c0d2.svg");
}

.littlecode {
  background-image: url("https://2021.days.dump.hr/img/littlecode.858a8879.svg");
}

.infobip {
  background-image: url("https://2021.days.dump.hr/img/infobip.6b18c0a5.svg");
}

.undabot {
  background-image: url("https://2021.days.dump.hr/img/undabot.1b75377b.svg");
}

.hrcloud {
  background-image: url("https://2021.days.dump.hr/img/hrcloud.b452de8e.svg");
}

.netmedia {
  background-image: url("https://2021.days.dump.hr/img/netmedia.6af36d40.png");
}

.zagrebačkabanka {
  background-image: url("https://2021.days.dump.hr/img/zagreba%C4%8Dkabanka.616721c4.png");
}

.emovis {
  background-image: url("https://2021.days.dump.hr/img/emovis.7041c117.png");
}

.blank {
  background-image: url("https://2021.days.dump.hr/img/blank.807930cc.png");
}

.typeqast {
  background-image: url("https://2021.days.dump.hr/img/typeqast.71da5597.svg");
}

.five {
  background-image: url("https://2021.days.dump.hr/img/five.e95ed8f1.svg");
}

.job__name span {
  font-size: 24px;
  font-weight: 600;
}

.job__location {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px 0 24px;
  opacity: 0.8;
}

.job__location-icon {
  width: 16px;
  height: 16px;
}

.job__description {
  font-size: 17px;
  line-height: 1.2;
  opacity: 0.85;
  margin-bottom: 32px;
}

.button-primary {
  height: 42px;
  width: 154px;
  margin-top: 32px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(48, 206, 194);
  color: black;
  position: relative;
}
