@import "header.css";
@import "conference.css";
@import "lectures.css";
@import "schedule.css";
@import "sponsors.css";
@import "board.css";
@import "gallery.css";
@import "app_info.css";
@import "contact.css";
@import "footer.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --cyan: #30cec2;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", Helvetica, sans-serif;
  background-color: rgb(10, 24, 27);
  color: #ffffff;  
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  user-select: none;
}


